{% extends 'base/base.html' %}

{% block title %}Update Supplier{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Update Investment Product</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Name</label>
                                {{ form.name }}
                            </div>
                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Asset Class</label>
                                {{ form.classs }}
                            </div>
                            <div class="form-group">
                                <label for="Investment Strategy" class="control-label mb-1">Investment Strategy</label>
                                {{ form.season }}
                            </div>
                            <div class="form-group">
                                <label for="sortno" class="control-label mb-1">Minimum Investment Amount</label>
                                {{ form.sortno }}
                            </div>
                            <button type="submit" class="btn btn-primary">Update Investment Product</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- .card -->
    </div><!--/.col-->
</div>
{% endblock content %}
